
ul.taskList {
	padding: 0 25px;
}

li.task {
	list-style-type: none;
	font-family: Tahoma;
	font-size: 1.2em;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	display: flex;
}

li.task:hover .deleteTaskBtn {
	visibility: visible;
	opacity: 1;
}

input.taskCheckbox {
	position: relative;
	float: left;
	margin-right: 10px;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	margin-left: 5px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

input.taskCheckbox:checked:after {
	color: green;
	content: "\2713";
	display: block;
	font-size: 17px;
	height: 17px;
	position: absolute;
	width: 17px;
	left: 0.5px;
	bottom: 2px;
}

input.taskCheckbox + input.taskLabel {
	border: none !important;
	text-decoration: underline !important;
  text-underline-position: under !important;
	color: black;
}

input.taskLabel {
	border: none !important;
	width: 100%;
}

input.taskCheckbox:checked + input.taskLabel {
	border: none !important;
	text-decoration: line-through !important;
	color: #656565 !important;
}

.input.taskLabel:hover {
	color: #B0D418 !important;
}

.taskLabel {
	border: none !important;
}

.taskLabel:hover {
	color: #B0D418;
}

input[placeholder] {
	font-size: 1.1em;
}


.container {
	width: 50%;
	height: 600px;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
}

.pointer {
	cursor: not-allowed !important;
}

.header {
	color: black;
	padding: 5px;
	text-align: center;
	font-family: Tahoma, sans-serif;
}

.header:hover {
	color: #B0D418;
}

.inputContainer {
	padding: 15px;
}

.inputContainer .taskInput {
	padding: 10px;
	width: 100%;
	border-radius: 25px;
	box-sizing: border-box;
}

.inputContainer:hover .taskInput:hover {
	border-color: #B0D418;
}

.inputContainer .taskInput:focus {
	outline: none !important;
}

.inputContainer:hover .taskInput:hover {
	border-color: #B0D418;
}

.listWrapper {
	position: absolute;
	bottom: 50px;
	top: 160px;
	right: 0;
	left: 0;
	overflow: auto;
}

.deleteTaskBtn {
	float: right;
	color: red;
	background: rgba(0,0,0,0);
	font-size: 20px;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 50%;
	padding: 10px 5px;
	visibility: hidden;
	opacity: 0;
	line-height: 0;
	margin-right: 5px;
	cursor: default;
}

.alert {
	margin: 0 auto;
	max-width: 480px;
}

.Login {
	padding: 60px 0;
}

.Login form {
	margin: 0 auto;
	max-width: 320px;
}